{% extends "::base.html.twig" %}

{% block body %}
    <h1>{{ questionnaire.title }}</h1>
    <form action="{{ path('soumission', {'id':questionnaire.id}) }}" method="post">
        <table class="questionnaire">
            <tbody>
                {% for categorie in questionnaire.categories %}
                    <tr>
                        <td><strong><u>{{ categorie.libelle }}</u></strong></td>
                    </tr>
                    {% for question in categorie.questions %}
                        <tr>
                            <td><i>{{ question.libelle }}</i></td>

                            <td><label>0</label><input type="radio" name={{ question.id }} required value=0></td>
                            <td><label>1</label><input type="radio" name={{ question.id }} value=1></td>
                            <td><label>2</label><input type="radio" name={{ question.id }} value=2></td>
                            <td><label>3</label><input type="radio" name={{ question.id }} value=3></td>
                            <td><label>4</label><input type="radio" name={{ question.id }} value=4></td>
                        </tr>
                    {% endfor %}    
                {% endfor %}

            </tbody>
        </table>
        <input type="submit" id="submit" value="Envoyer" name="submit">
    </form>        
{% endblock %}
