<!DOCTYPE html>
<html>
    <head>
        <title>Hello {{ fname }} {{ lname }} !</title>
    </head>
    <body>
        <h1>{{ title }}</h1>
        <h2>formation : {{ formLib }}<br />promotion : {{ formProm }}</h2>
        <p>categorie1 :<br /></p>
    </body>
</html>

