{# src/Itech/FormulaireBundle/Resources/views/Task/new.html.twig #}

{# ... #}

{{ form_start(form) }}
    {# render the task's only field: description #}
    {{ form_row(form.description) }}

    <h3>Tags</h3>
    <ul class="tags" data-prototype="{{ form_widget(form.tags.vars.prototype)|e }}">
        {# iterate over each existing tag and render its only field: name #}
        {% for tag in form.tags %}
            <li>{{ form_row(tag.name) }}</li>
            <a href="#" id="add_tag_link">Add a tag</a>
        {% endfor %}
    </ul>
{{ form_end(form) }}

<script type="javascript">
    
    var collectionHolder;
    var addTagLink = ('<a href="#" id="add_tag_link">Add a tag</a>');
    var newLinkLi = ('<li></li>').append(addTagLink);
    
    var addTagForm = function(collectionHolder, newLinkLi){
        /*
         * 
         * A FINIR !!!
         * 
         * 
         */
        //collectionHolder = ('ul.tags');
        //collectionHolder.append(newLinkLi);
        
    };
    
    var myLink = document.getElementById('add_tag_link');
    myLink.addEventListener('click', addTagForm);
    
</script>

{# ... #}